# Generated settings:
NAME="HomeNAS"
timeZone="America/Chicago"
COMMENT="Media server"
SECURITY="user"
WORKGROUP="WORKGROUP"
DOMAIN=""
DOMAIN_SHORT=""
hideDotFiles="no"
enableFruit="yes"
USE_NETBIOS="yes"
localMaster="yes"
serverMultiChannel="yes"
USE_WSD="yes"
WSD_OPT=""
WSD2_OPT=""
USE_NTP="yes"
NTP_SERVER1="time.google.com"
NTP_SERVER2=""
NTP_SERVER3=""
NTP_SERVER4=""
DOMAIN_LOGIN="Administrator"
DOMAIN_PASSWD=""
SYS_MODEL="Custom"
SYS_ARRAY_SLOTS="10"
USE_SSL="no"
PORT="80"
PORTSSL="443"
LOCAL_TLD="local"
BIND_MGT="no"
USE_TELNET="no"
PORTTELNET="23"
USE_SSH="yes"
PORTSSH="22"
USE_UPNP="no"
START_PAGE="Main"
