# Generated settings:
IFNAME[0]="br0"
BONDNAME[0]="bond0"
BONDING_MIIMON[0]="100"
BRNAME[0]="br0"
BRSTP[0]="no"
BRFD[0]="0"
DHCP_KEEPRESOLV="yes"
DNS_SERVER1="192.168.1.1"
DNS_SERVER2="1.1.1.1"
DHCP6_KEEPRESOLV="no"
BONDING_MODE[0]="1"
BONDNICS[0]="eth0"
BRNICS[0]="bond0"
PROTOCOL[0]="ipv4"
USE_DHCP[0]="no"
IPADDR[0]="192.168.1.228"
NETMASK[0]="255.255.255.0"
GATEWAY[0]="192.168.1.1"
METRIC[0]="6"
USE_DHCP6[0]="yes"
SYSNICS="1"
