# Generated settings:
shareDisk="yes"
shareUser="e"
shareUserInclude=""
shareUserExclude=""
shareUserExclusive="no"
shareSMBEnabled="yes"
shareNFSEnabled="no"
shareNFSFsid="100"
shareInitialOwner="Administrator"
shareInitialGroup="Domain Users"
shareCacheEnabled="yes"
shareCacheFloor="2000000"
shareMoverSchedule="0 */1 * * *"
shareMoverLogging="yes"
fuse_remember="330"
fuse_directio="auto"
fuse_useino="yes"
shareNOFILE=""
shareAvahiEnabled="yes"
shareAvahiSMBName="%h"
shareAvahiSMBModel="Xserve"

# Pterodactyl - Keep on cache ALWAYS (performance critical)
shareUseCache[pterodactyl-wings-volumes]="only"
