# Generated settings:
shareComment="application data"
shareInclude="disk5"
shareExclude=""
shareUseCache="no"
shareCachePool=""
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel="1"
shareFloor="195300000"
shareExport="-"
shareCaseSensitive="auto"
shareSecurity="public"
shareReadList=""
shareWriteList=""
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="0"
shareSecurityNFS="public"
shareHostListNFS=""
